body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(244, 246, 249, 0.8); /* 使用带透明度的背景色叠加 */
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay; /* 叠加颜色到背景图片 */
    color: #333;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 3%;
}

.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0px 5px;
    font-size: 16px;
    border: none;
    background-color: rgba(166, 209, 255, 0.5);
    color: white;
    border-radius: 30px;
    cursor: pointer;
    display: none; /* 初始隱藏 */
    transition: background-color 0.3s;
}

    .scroll-btn:hover {
        background-color: #0056b3;
    }


#input-container {
    margin-bottom: 20px;
    padding-bottom: 20px; /* 添加一些 padding 來防止按鈕緊貼容器底部 */
}

h2, h3 {
    color: #384929;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
}

.adventure-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #9CC578;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
.adventure-input:hover {
    background-color: #dfdbff;
}

#lists-container {
    display: flex;
    justify-content: space-between;
}

.list-contain {
    margin: 6px;
    width: 45%;
    padding: 10px;
    min-height: 400px;
    position: relative;
}
.list-description {
    margin: 6px;
    padding: 10px;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
}
.list-description p {
    margin: 0;
    position: relative;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)); /* 渐变从白色到透明 */
}

    /* hover 时显示的提示文本 */
    .list-description.easy p:hover:after,
    .list-description.notdo p:hover:after {
        content: attr(data-message); /* 使用 data-message 属性中的文本 */
        position: absolute; /* 绝对定位 */
        bottom: -30px; /* 距离底部20px */
        right: -40px; /* 距离右边0 */
        background-color: rgba(255, 255, 255, 0.8); /* 半透明白底 */
        padding: 5px 10px; /* 内边距 */
        border-radius: 4px; /* 圆角 */
        visibility: visible; /* hover 时显示 */
        opacity: 1;
        font-size: 0.9em;
        color: #969696;
        white-space: nowrap;
        transition: opacity 0.2s ease-in-out; /* 过渡效果 */
        z-index: 999;
    }

        .list-description p:after {
            content: ""; /* 默认内容为空 */
            visibility: hidden; /* 默认隐藏 */
            opacity: 0; /* 默认透明 */
            transition: visibility 0s, opacity 0.2s ease-in-out; /* 过渡效果 */
        }



.list {
    margin: 6px;
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 400px;
    background-color: #FFF3F5;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.list::before {
    content: attr(data-description);
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #D084AF;
}

.list-item {
    background-color: #D5B58B;
    margin: 5px 0;
    padding: 10px 40px 10px 10px;
    cursor: move;
    border-radius: 4px;
    transition: transform 0.2s, box-shadow 0.2s;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
}

.list-item:hover {
    background-color: #D4A38A;
}

.list-item .index {
    width: 30px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
    background-color: #96BF72;
    border-radius: 4px;
}

.list-item .item-content {
    flex-grow: 1;
}

.list-item.dragging {
    opacity: 0.5;
}

#result-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
    #result {
        text-align: center;
    }
    #result ul {
        list-style-type: none; /* 隱藏預設的圓點 */
        padding-left: 0; /* 清除內邊距 */
    }

    #result li {
        position: relative; /* 設定相對定位 */
        padding-left: 25px; /* 為文本留出空間 */
    }

    #result li::before {
        content: ''; /* 使伪元素可見 */
        position: absolute; /* 絕對定位 */
        left: 0; /* 距離左邊的距離 */
        top: 50%; /* 垂直居中 */
        transform: translateY(-50%); /* 垂直居中 */
        width: 20px; /* 圓點的寬度 */
        height: 20px; /* 圓點的高度 */
        background-image: url('img/like.png'); /* 使用圖片作為圓點 */
        background-size: contain; /* 確保圖片大小適合圓點 */
        background-repeat: no-repeat; /* 不重複 */
    }


.modal-content {
    background-color: white;
    margin: 3% auto;
    padding: 20px;
    border-radius: 5px;
    min-width: 50px;
    width: 50%;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}

.modal-content button {
    background-color: #83ce86; /* 背景顏色 */
    color: white; /* 文字顏色 */
    border: none; /* 無邊框 */
    border-radius: 5px; /* 圓角邊框 */
    padding: 6px 15px; /* 內邊距 */
    font-size: 16px; /* 字體大小 */
    cursor: pointer; /* 鼠標懸停時顯示手型 */
    transition: background-color 0.3s, transform 0.2s; /* 平滑過渡效果 */
}

/* 懸停效果 */
.modal-content button:hover {
    background-color: #45a049; /* 懸停時背景顏色 */
    transform: translateY(-2px); /* 懸停時向上移動 */
}

.button-group {
    margin-top: 50px; /* 添加頂部間距來避免按鈕緊貼冒險事項列表 */
    text-align: center;
}

.button-group button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #9CC578;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-group button:hover {
    background-color: #8FB86B;
}

/* 通知 */
.notification {
    visibility: hidden; 
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.notification.show {
    visibility: visible; 
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


/* 亮色與暗色模式的基本樣式 */
/* 亮色模式 */
body.light-mode {
    background-color: #F0F4F8;
    color: #495057;
}

.adventure-input.light-mode {
    background-color: #ffffff;
    border-color: #4B7BE5;
}

.button-group button.light-mode {
    background-color: #4B7BE5;
}

.list.light-mode {
    background-color: #ffffff;
    border-color: #4B7BE5;
}


/* 暗色模式 */
body.dark-mode {
    background-color: #2D2F36;
    color: #D1D5DB;
}

.adventure-input.dark-mode {
    background-color: #3C4047;
    border-color: #6875F5;
    color: aliceblue;
}
.adventure-input.dark-mode:hover {
    background-color: #8293af;
    border-color: #6875F5;
    color: aliceblue;
}

.button-group button.dark-mode {
    background-color: #6875F5;
}

.list.dark-mode {
    background-color: #3C4047;
    border-color: #6875F5;
}
    .list.dark-mode h3{
        color: #e3f0f0;
    }
.list-item.dark-mode .index {
    background-color: #314122;
}
.list-item.dark-mode {
    background-color: #88612e;
}
.list-item.dark-mode:hover {
    background-color: #a58a66;
}
.modal-content.dark-mode {
    background-color: #4e4e4e;
    border: 2px solid #f4f2d1; 
}

.modal-content.dark-mode h3 {
    color: white; /* 將 h3 標籤的文字顏色設置為白色 */
}
.list-description p.dark-mode {
    background: linear-gradient(to top, rgba(60, 60, 60, 0.8), rgba(60, 60, 60, 0)); /* 深色渐层背景 */
}

/* 電燈開關的樣式 */
#theme-switch {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #f1c40f;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#theme-switch.dark-mode {
    background-color: #f39c12;
}



@media only screen and (max-width: 768px) { /* 如果屏幕宽度小于等于768px */
    .adventure-grid {
        max-height: 900px;
        justify-items: center;
        grid-template-columns: repeat(2, 50%);
        gap: 3%;
    }

    .adventure-input {
        width: 90%;
        height: 35%;
        padding: 1px;
        margin-top: 3%;
    }

    #input-container {
        margin-bottom: 20px;
        min-height: 700px;
    }

    .button-group {
        display: flex;
        margin-top: 20px;
        margin-left: 6%;
        justify-items: center;
    } 
    .button-group button {
        margin: 0 10px;
        padding: 10px 20px;
        margin-top: 3%;
    }
    
    #theme-switch {
        bottom: 15px;
        left: 15px;
        padding: 3px;
        font-size: 14px;
    }
    
    .modal-content {
        margin: 35% auto;
        font-size: 1rem;
    }
    
    #result {
        text-align: left;
    }
}


/* 預設隱藏按鈕 */
.pagination-buttons {
  display: none;
}
/* 按鈕的基本樣式 */
.styled-button {
    margin: 0 auto;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4); /* 漸變背景色 */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px; /* 圓角 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 陰影效果 */
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* 平滑過渡 */
}

/* 懸停效果 */
.styled-button:hover {
    background: linear-gradient(45deg, #fd9273, #ffbabd);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}


/* 深色模式 */
.dark-mode .styled-button {
    background: #2d5577; /* 深色模式下的漸變背景色 */
    color: #fff; /* 字體顏色變為白色 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* 調整陰影變深 */
}

/* 深色模式下懸停效果 */
.dark-mode .styled-button:hover {
    background: #898989; /* 深色模式下的懸停背景色 */
    box-shadow: 0 6px 8px rgba(224, 224, 224, 0.7); /* 更強的陰影效果 */
}


/* 當進入手機模式（寬度小於 768px）時顯示按鈕 */
@media (max-width: 768px) {
    
    .list-contain {
        width: 70%;
        margin: 0 20% 0 10%;
        min-height: 400px;
        position: relative;
    }
}
